@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {

	font-family: 'AnimalsNormal';

	src: url('fonts/animals-webfont.eot');

	src: url('fonts/animals-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/animals-webfont.woff') format('woff'), url('fonts/animals-webfont.ttf') format('truetype'), url('fonts/animals-webfont.svg#AnimalsNormal') format('svg');

	font-weight: normal;

	font-style: normal;

}

html {

	height: 100%;

}

*, *:after, *:before {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	padding: 0;

	margin: 0;

}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */







.clearfix:after {

	content: "";

	display: table;

	clear: both;

}

body {

	
	font-family: 'Lato', Calibri, Arial, sans-serif;

	background: #fff;

	font-weight: 400;
	font-size:18px;

	color: #fff;

	-webkit-font-smoothing: antialiased;

}

a {

	color: #1dd2af;

	text-decoration: none;

}

li
{
	list-style-type: square;
	color: #1dd2af;	
}

li span
{
	color: #333;
}
.container {

	width: 100%;

	position: relative;

	border-top: 1px solid #2c3e50;

}

.clr {

	clear: both;

	padding: 0;

	height: 0;

	margin: 0;

}

.main {

	width: 90%;

	margin: 0 auto;

	position: relative;

}

header
{
/* 	background-color: #fff; */
	background-color: #3c4e60;
	max-width: none !important;
	width: none;
	border-bottom: #1dd2af solid 2px;
}
#headerhome
{
	background-color: #fff;	
	border-bottom: none;
	
}
.container > header, .content-wrapper {
	
	

	padding: 30px;
	/* margin: 0 auto;
	max-width: 960px; */

	

}

#headercontent
{
	max-width: 1007px;
	margin: 0 auto;
}

#content_home {

	color: #333;

}



#here_link {

/* 	color: #1dd2af; */
	font-weight: bold;

}

.content-wrapper {

	padding: 30px;

	width: 80%;

	max-width: 960px;

	margin: 0 auto;

	padding-bottom: 90px;

}

.content-wrapper p {

	padding-top: 15px;

	line-height: 26px;
	

}

footer {

	margin-top: 0px;

	display: block;

	width: 100%;

	background-color: #3c4e60;

	padding: 25px 0;

}

#innerFooter {

	width: 80%;

	max-width: 960px;

	padding: 30px;

	margin: 0 auto;

	color: #ffffff;

}

#and, .container > header h1 {

	font-size: 35px;

	line-height: 38px;

	margin: 0;

	font-weight: 700;

	color: #fff;
/* 	color: #333; */
	float: left;

}
#headerhome h1
{
	color: #333;
}
#headerhome a{
	color:#333;
}

#tagline {

	display: block;

	font-size: 15px;

	font-weight: 400;

}

#and, .container > header h1 b {

	color: #1dd2af;

}

h1, h2, h3, h4 {

	color: #1dd2af;

}

h3 {

	color: #1dd2af;

}

a {

	-webkit-transition: all 0.3s linear;

	-moz-transition: all 0.3s linear;

	-o-transition: all 0.3s linear;

	-ms-transition: all 0.3s linear;

	transition: all 0.3s linear;

}

h1 a {

	cursor: pointer;

}

.button {

	background-color: #468185;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16px;
	
	cursor: pointer;

	padding: 7px 16px;

	color: #F8F8F8;

	background-image: -moz-linear-gradient( top, #bae1e8 0%, #468185 50%, #bae1e8);

	background-image: -webkit-gradient( linear, left top, left bottom, from(#bae1e8), color-stop(0.50, #468185), to(#bae1e8));

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	border-radius: 10px;

	border: 1px solid #547286;

	text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	
	text-align: center;

}

.button:hover {

	background: -moz-linear-gradient( top, #bae1e8 0%, #2c7c82 50%, #bae1e8);

	background: -webkit-gradient( linear, left top, left bottom, from(#bae1e8), color-stop(0.50, #2c7c82), to(#bae1e8));

}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
  background: #999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
   cursor: not-allowed; 
  text-shadow: 0 -1px 1px #ebebeb;
  	background-color: #468185;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 7px 16px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#main-content {

	clear: both;
	background: white;
	color: #333;
	/* background: #7b98ac; */

}

#main-content .content-wrapper {

	min-height: 700px;

}

#main-content p, li, forminput {

}

#main-content li {

	margin-left: 40px;

}

.nav {



float: right;



padding-top: 10px;



}



.nav a {



display: inline-block;



margin: 10px;

color: #fff;
/*    color: #333; */


font-weight: 500;

fond-size:15px;

line-height: 30px;



border-bottom: 3px solid transparent;



} 


.nav a:hover
{
	
	border-color: #aaa;

	color:#1dd2af !important;
}

.nav a.current {



border-color: #aaa;



color:#1dd2af !important;



}

footer p
{
	/* color:#1dd2af; */
}

footer a
{
/* 	color:#1dd2af; */
	color: cyan;
/* 	color:#fff; */
}ex

